# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Custom service topology bind locations
deployments/customtopology/services/

# Built binary
build/package/accountservice/accountservice
build/package/accountservice/healthchecker
build/package/customservice/customservice
build/package/customservice/healthchecker
build/package/imageservice/healthchecker
build/package/imageservice/imageservice
build/package/vipservice/healthchecker
build/package/vipservice/vipservice
cmd/accountservice/accountservice
cmd/customservice/customservice
cmd/healthchecker/healthchecker
cmd/imageservice/imageservice
cmd/loadtest/loadtest
cmd/swarm-prometheus-discovery/swarm-prometheus-discovery
cmd/topologydeploy/topologydeploy
cmd/vipservice/vipservice
deployments/swarm-prometheus-discovery/swarm-prometheus-discovery

# macOS
.DS_Store
